.tamañoAnimacion{
    font-size: 200px;
    text-align: center;
    padding: 10px;
    
}

.bo7{
    background-color: #727cf5;
    font-size: 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
   
}

.customHeigth{
    min-height: 70vh;
}

