/*aqui van los estilos que se aplicaran en todaa la pagina en general por ej: el fondo para todas las pantallas*/
body{
    min-height: 100vh;
    /*background:linear-gradient(to right,#13005A,#1C82AD) /*1 i 3 de la pal 1*/
    background-color: #f4f5f9;
}

  /*para el paginado*/
  .custom-pagination .page-item {
    
    color: var(--bs-light);
  }
  
  .custom-pagination .page-link {
    
    background-color: var(--bs-dark);
    border-color: var(--bs-light);
    color: var(--bs-light);
  }